*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bg-primary-colour);
    color: var(--text-primary-colour);
}

main{
    width: 100%;
}
main section{
    width: 100%;
    padding: var(--padding-2xl);
    display: flex;
    gap: var(--gutter-lg);
}

.btn{
    padding: var(--padding-sm) var(--padding-lg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-md);
    background-color: var(--bg-active-colour);
    cursor: pointer;
    color: var(--text-active-colour);
}
#reset-btn{
    background-color: var(--bg-danger-colour);
    color: var(--text-primary-colour);
}
#download-btn{
    background-color: var(--bg-success-colour);
    color: var(--text-primary-colour);
}
main section .left{
    display: flex;
    flex-direction: column;
    gap: var(--margin-lg);
    align-items: center;
    width: 70%;
}
main section .right{
    width: 30%;
    background-color: var(--bg-secondary-colour);
    padding: var(--padding-lg);
    border-radius: var(--border-radius-lg);
}
main section .top{
    display: flex;
    justify-content: space-between;
    gap: var(--margin-md);
}
main section .bottom{
    background-color: var(--bg-secondary-colour);
    width: 100%;
    padding: var(--padding-2xl);
    aspect-ratio: 5/3;
    border-radius: var(--border-radius-xl);
    display: flex;
    justify-content: center;
    align-items: center;

}

main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--margin-md);
    opacity: 0.6;
}

main section .bottom .placeholder i {
    font-size: 10rem;
}
main section .bottom .placeholder p {
    font-size: var(--font-size-lg);
}

main section .right {
    display: flex;
    flex-direction: column;
    gap: var(--margin-md);
}
main section .right .filter {
    width: 100%;

}
main section .right .filters{
    display: flex;
    flex-direction: column;
    gap: var(--margin-md);
}
main section .right .filter input {
    width: 100%;
    outline: none;
    margin-top: var(--margin-sm);

}
